h1{
    color: white;
    background-color: pink;
}

body{

    color: aqua;
    background-color: blueviolet;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.a:hover img{
    transform: translate(-50%, -50%);
} 

.grid2{
    display:flex; 
}

.grid2 img:hover{
    transform: scale(1.2);
    
}

.grid2 img{
    display:flex;
    background-color: palevioletred;
    padding: 10px;
    margin: 20px;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 210px;
    height:150px;
}

